<div class="kpmg-nav">
  <div>
    <img src="../assets/images/KPMG_logo.png" class="kpmg-logo vertical-center" alt="">
  </div>
  <div class="kpmg-nav-menu">
    <ul class="menu vertical-center">
      <li class="menu-list" routerLink="/about">About</li>
      <li class="menu-list" routerLink="/what-we-do">What we do</li>
      <li class="menu-list" routerLink="/case-studies">Case Studies</li>
      <li class="menu-list" routerLink="/engagements">Engagements</li>
      <li class="menu-list" routerLink="/leaders-speak">Leader's Speak</li>
    </ul>
  </div>
  <div class="sign-out vertical-center">
    <img src="../../assets/images/user.svg" class="profile" alt="" routerLink="/login">
  </div>
</div>
