<div>
  <div>
    <div class="page-title">
      <h1 class="display-5 text-center vertical-center title-text">Leaders Speak</h1>
    </div>
  </div>
  <div class="video-catalog">
    <div class="video">
      <iframe width="calc(100vw/3)" height="auto" src="https://www.youtube.com/embed/vixCP8jcLcs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="video">
      <iframe width="calc(100vw/3)" height="auto" src="https://www.youtube.com/embed/LEh9LOgj7Ms" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="video">
      <iframe width="calc(100vw/3)" height="auto" src="https://www.youtube.com/embed/SWosZtaxoAs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="video">
      <iframe width="calc(100vw/3)" height="auto" src="https://www.youtube.com/embed/qGhThNabgs4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="video">
      <iframe width="calc(100vw/3)" height="auto" src="https://www.youtube.com/embed/fHM3Ij3xC58" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="video">
      <iframe width="calc(100vw/3)" height="auto" src="https://www.youtube.com/embed/fK6JuJTx0dQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="video">
      <iframe width="calc(100vw/3)" height="auto" src="https://www.youtube.com/embed/7M-9R7fQSoU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
</div>
