<div class="kpmg-home-video">
  <video src="../assets/videos/kpmg-home.mp4" autoplay loop muted poster="posterimage.jpg" class="kpmg-video">
  </video>
  <div class="jumbotron">
    <h1 class="display">Welcome to KPMG</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
</div>
